###############################
# This is for react-router-dom to
# handle client-side routing in
# production build
###############################

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]


###############################